torch
torchvision
numpy
scipy
nibabel        # for reading .nii CT files
pydicom        # for reading .dcm DICOM files
SimpleITK      # for medical image processing
scikit-image   # for image transforms & filtering
scikit-learn   # for dataset splitting
opencv-python-headless # for fast resize & CLAHE
matplotlib     # for visualizing results
tqdm           # progress bars
kaggle         # Kaggle CLI for dataset download
imageio        # image reading for PNG/JPG support